<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323595993351-vvpan6u6scpjvkigrlrrlsuhafp2h65l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323595993351-vvpan6u6scpjvkigrlrrlsuhafp2h65l</string>
	<key>API_KEY</key>
	<string>AIzaSyAlZ2JmAJfv11JRSg6qb6I3t0Z8592M8wo</string>
	<key>GCM_SENDER_ID</key>
	<string>323595993351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingBrecho</string>
	<key>PROJECT_ID</key>
	<string>loja-cis-artigos</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-cis-artigos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323595993351:ios:699f5267dbac88949405a2</string>
</dict>
</plist>